h1 {color: red;}
body {background-image: url("bg85.gif");}
body {text-align: center;}
p {color: red;
   font-size: 0.59cm;
   margin: 22px 250px 0px 250px;
   text-align:  justify;}
img { float: left;width: 280px;
  border-color: red;
  border-style: solid;
  padding-left:  12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 25px 15px 20px 300px;}
span.normal {font-weight: bold;}
span.subrayado {text-decoration: underline;}
address.direcion {font-weight: bold;margin-bottom: 30px;}
